*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    height: 100vh;
    width: 100vw;
    /* margin: auto; */
    text-align: center;
    /* margin-top: 20px; */
}
h2{
    padding-top: 20px;
    margin-bottom: 10px;
}
button{
    padding: 10px 15px;
    font-weight: 600;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: medium;
    cursor: pointer;
}
.box{
    width: 500px;
    height: 200px;
    border: 2px solid black;
    text-align: center;
    margin: auto;
    margin-top: 10px;
}